ora2016.sdf
Debug/
ipch/
Release/
ora2016/Debug/
ora2016/Release/
ora2016/*.aps
ora2016/*.vcxproj
ora2016/*.vcxproj.*
oradll/Debug/
oradll/Release/
oradll/*.aps
oradll/*.vcxproj
oradll/*.vcxproj.*
oram4/Debug/
oram4/Release/
oram4/*.vcxproj
oram4/*.vcxproj.*
oram4/*.aps
.git/

